<mat-toolbar color="primary">
  <span>Movies & tv shows</span>
  <div class="spacer"></div>
  <div class="flex-sm-column">
    <button mat-button routerLink="/">Home</button>
    <mat-form-field class="example-form-field">
      <input (keyup.enter)="svcMovies.doSearch($event.currentTarget.value)" matInput type="text" placeholder="Search a movie" [(ngModel)]="searchValue">
      <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-toolbar>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
